<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2><small>Instance</small><br>{{ instance?.name }}</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li class="active"><a routerLink="/instance/{{ instance?.id }}">Summary</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/environment">Environment</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/services">Services</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/proxy-domains">Proxy domains</a></li>
            <li><a routerLink="/instance/{{ instance?.id }}/logs">Logs</a></li>
        </ul>
    </div>
</div>

<div class="form">

    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Name</label>
                <p class="form-control-static">{{ instance?.name}}</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Definition</label>
                <p class="form-control-static">
                    <a routerLink="/definition/{{ instance?.definition.id }}">{{ instance?.definition.name }}</a>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Project</label>
                <p class="form-control-static">
                    <a routerLink="/project/{{ instance?.definition.project.id }}">
                        {{instance?.definition.project.name }}
                    </a>
                </p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Created at</label>
                <p class="form-control-static">
                    <span *ngIf="instance?.createdAt">
                        {{ instance?.createdAt | absoluteDate }}<br>
                        ({{ instance?.createdAt | relativeDate }})
                    </span>
                    <span *ngIf="!instance?.createdAt">
                        &mdash;
                    </span>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Last action status</label>
                <div class="instance-status-indicator form-control-static">
                    <span *ngIf="instance?.completedAt" class="label label-success">
                        Completed
                    </span>
                    <span *ngIf="instance?.failedAt" class="label label-danger">
                        Failed
                    </span>
                    <span *ngIf="!instance?.completedAt && !instance?.failedAt" class="label label-default">
                        In progress
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <label class="control-label">Actions</label>
            <div>
                <div *ngIf="instance?.actionLogs.length">
                    <div *ngFor="let actionLog of instance?.actionLogs" class="panel panel-default command-log">
                        <div class="panel-heading">
                            <div class="command-log-description" [innerHTML]="('Action `' + actionLog.actionId + '`') | MarkdownToHtml"></div>
                            <div class="command-log-indicator" style="text-align: right;">
                                <span>
                                    <span *ngIf="!actionLog.completedAt && !actionLog.failedAt" class="label label-default">
                                        Started at {{ actionLog.createdAt | date:'yyyy-MM-dd HH:mm:ss' }},
                                        still in progress
                                    </span>
                                    <span *ngIf="actionLog.failedAt" class="label label-danger">
                                        Failed at {{ actionLog.failedAt | date:'yyyy-MM-dd HH:mm:ss' }},
                                        after {{ {start: actionLog.createdAt, end: actionLog.failedAt} | elapsedTime }}
                                    </span>
                                    <span *ngIf="actionLog.completedAt" class="label label-success">
                                        Completed at {{ actionLog.completedAt | date:'yyyy-MM-dd HH:mm:ss' }},
                                        in {{ {start: actionLog.createdAt, end: actionLog.completedAt} | elapsedTime }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!instance?.actionLogs.length">
                    <em>No actions to list.</em>
                </div>
            </div>

            <div>
                <p *ngIf="!modificationActions.length">No modification actions defined.</p>
                <div class="buttons">
                    <span *ngFor="let modificationAction of modificationActions">
                        <button (click)="modifyInstance(modificationAction.id)"
                                type="submit"
                                class="btn btn-success"
                        >
                            {{ modificationAction.name }}
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group" >
                <label class="control-label">Summary items</label>
                <div class="form-control-static">
                    <div *ngIf="instance?.summaryItems?.length">
                        <dl *ngFor="let summaryItem of instance?.summaryItems">
                            <dt>{{ summaryItem.name }}</dt>
                            <dd innerHTML="{{ summaryItem.value | linkify }}"></dd>
                        </dl>
                    </div>
                    <div *ngIf="!instance?.summaryItems?.length">
                        &mdash;
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="margin-top: 21px;">
        <div class="col-md-12">
            <div>
                <span (click)="removeInstance()" class="btn btn-danger">Remove</span>
            </div>
        </div>
    </div>

</div>
